<div class="jumbotron jumbotron-fluid">
  <div class="container">
     <img src="http://66.media.tumblr.com/tumblr_m8q0lce8wB1qadtd9o1_500.png" id="coolburger">
    <h1 class="display-4">Eat-Da-Burger</h1>
   
    <p class="lead">... and enjoy</p>
    
  </div>
</div>

<!-- Pass in data from server.js -->
<div id="tables">
  <div id="uneaten">

<table id="table1">
  <tr>
    <th>Burgers ready to eat!</th>
  </tr>
  {{#each burgers}}
  {{#unless devoured}}
 
  <tr>
    <td>{{this.burger_name}}
      <button data-id="{{this.id}}" class="devour">Devour</button>
    </td>
  </tr>
  {{/unless}}
  {{/each}}
</table>
</div>
<div id="eaten">

<table id="table2">
  <tr>
    <th>Burgers you enjoyed</th>
  </tr>
  {{#each burgers}}
  {{#if devoured}}
  
  <tr>
    <td>{{this.burger_name}}
      <button data-id="{{this.id}}" class="delete">Delete</button>
    </td>
  </tr>
  {{/if}}
  {{/each}}
</table>
</div>
</div>
  <h2>Don't like my burgers??</h2>
  <h3>Add your own</h3>

  <form class="create-form">


    <div class="form-group">
      <label for="name">Describe your dream burger and click Add Burger to make it a reality</label>
      <br>
      <textarea id="name" name="name" rows="8" cols="40"></textarea>
    </div>

    <button type="submit" id="submit-btn">Add Burger</button>
  </form>